<div class="filtersbox">
  <%= search_form_for @q, url: admin.path(:index) do |f| %>
    <%= with_form(f) { admin.filters.render(self, f) } %>
    <%= f.submit "Search", class: 'btn btn-primary' %>
    <%= link_to 'Reset', admin.path(:index) %>
  <% end %>
</div>
